// header
.header {
  width: 100%;
  position: relative;
  &__inner {
    @include util__size-pc-max;
    margin: 0 auto;
  }
  &__top {
    @include util__flex(space-between, center);
    padding: 0 2.4rem;
    margin-top: 2.4rem;
    margin-bottom: 1.4rem;
    position: relative;
    height: 9.6rem;
  }

  .logo {
    order: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.logo {
  a {
    width: 10rem;
  }
  img {
    width: 100%;
  }
}

.menu {
  &-btn {
    order: 0;
  }
}

.action-menu {
  @include util__flex(flex-start, center, 2.4rem);
  order: 2;
}

.cate {
  &__list {
    @include util__flex(center, flex-start, 4rem);
  }
  &__item {
    a {
      @include util__flex(center, center, 0, column);
      min-width: 7rem;
    }
    & > a {
      position: relative;
      z-index: 2;
    }

    $color-list: ($color__orange, $color__yellow, $color__pink, $color__skyblue, $color__green, $color__purple, $color__blue);

    &:first-child {
      .cate__name {
        @include util__tag-border($color__orange, $color__black);
      }
    }
    &:nth-child(2) {
      .cate__sub-list {
        flex-direction: column;
        justify-content: flex-start;
      }
      .cate__sub-item {
        margin-left: 42.3rem;
        max-width: 12rem;
        &:first-child {
          text-transform: uppercase;
        }
      }
    }
    &:nth-child(6) {
      color: nth($color-list, 6);
    }
    &:nth-child(7) {
      color: nth($color-list, 7);
    }

    @for $i from 1 through 7 {
      &:nth-child(#{$i}):hover .cate__name {
        @include util__tag-border(nth($color-list, $i), $color__black);
        animation: animation__shake 0.5s infinite both;

        @if $i >= 6 {
          color: $color__white;
        }
      }
      &:nth-child(#{$i}) .cate__sub-item a:hover .cate__sub-name {
        @include util__tag-border(nth($color-list, $i), $color__black);
      }

      &:nth-child(#{$i}) .cate__third-item a:hover .cate__third-name {
        @include util__tag-border(nth($color-list, $i), $color__black);
      }
    }

    &:hover {
      .cate__sub {
        display: flex;
      }
    }
  }
  &__icon {
    display: inline-block;
    width: 5.4rem;
    height: 7.2rem;

    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
    }
  }
  &__name {
    padding: 0.4rem 0.8rem;
    font-weight: 700;
    font-family: $font__favorit;
    display: inline-block;
  }
  &__sub {
    @include util__flex(center);
    display: none;
    width: 100%;
    position: absolute;
    min-height: 31.2rem;
    padding-top: 2.4rem;
    left: 0;
    z-index: 5;
    background: $color__white-2;

    &-list {
      @include util__size-pc-max;
      margin: 0 auto;
      @include util__flex(center, flex-start);
    }
    &-item {
      font-weight: 600;
    }
    &-name {
      display: inline-block;
      padding: 0.4rem 0.8rem;
    }
  }
  &__third {
    &-item {
      margin-top: 0.6rem;
    }
    &-name {
      display: inline-block;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 120%;
      padding: 0.4rem 0.8rem;
    }
  }
}
// // header

// section
.section {
  @include util__size-pc-max;
  margin: 0 auto;
}
// // section

// main slide
.main-slider {
  .swiper {
    @include util__size-pc-max;
    border-radius: 3.2rem;
  }
  &__img {
    width: 100%;
  }

  &__title {
    // @extend .blind;
    color: $color__white;
    font-family: $font__favorit;
    left: 4rem;
    bottom: 13rem;
    font-size: 10.4rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 90%;
    position: absolute;
    white-space: pre-wrap;
  }
  &__desc {
    //@extend .blind;
    font-family: $font__suite;
    left: 4rem;
    bottom: 6rem;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: -0.04rem;
    color: $color__white;
    position: absolute;
  }
}
// // main slide

// edition
.edition {
  margin-top: 8.4rem;
  &__title {
    color: $color__black;
    font-family: $font__suite;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.032rem;
  }
}
// // edition

// footer
.footer {
  min-width: $size__pc-min;
  background: $color__black-2;
  color: $color__white;
  border-radius: 3.2rem 3.2rem 0 0;

  @mixin footer-info-text {
    color: $color__gray-3;
    font-size: 1.4rem;
    letter-spacing: -0.028rem;
  }

  &__inner {
    padding: 2.4rem 3.2rem;
  }
  &__row {
    @include util__flex(space-between, flex-start);
  }
  &__link {
    @include util__flex(flex-start, center, 0.4rem);

    &-item {
      @extend .btn--16;
      border: 1px solid $color__gray-3;
    }
  }
  &__menu {
    @include util__flex(stretch, center);
    flex-grow: 1;
    &-list {
      @include util__flex(flex-start, flex-start, 0.8rem);
    }
  }
  &__cell {
    &:nth-child(1) {
      @include util__flex;
      flex-direction: column;
      font-size: 1.4rem;
      height: 9.4rem;
    }
    &:nth-child(2) {
      text-align: right;
    }
  }
  &__tel {
    font-size: 4.6rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.092rem;
    font-family: $font__favorit;
  }
  &__cs {
    @include footer-info-text();
    line-height: 140%;
  }

  &__company {
    padding-bottom: 0.4rem;
  }

  &__info {
    @include footer-info-text();

    &-row {
      @include util__flex(stretch, center, 0.8rem);

      dl {
        @include util__flex(stretch, center, 0.3ch);
      }
    }
    &-btn {
      @extend .btn--14;
      border: 1px solid $color__gray-3;
    }
  }

  &__copy {
    display: inline-flex;
    gap: 0.4rem;
    font-size: 1em;
    padding-bottom: 0;
    font-family: $font__favorit;
    padding: 0.8rem 0;
  }
}

.top-btn {
  @extend .icon, .top;
  padding: 0.8rem;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 100%;
  border: 1px solid $color__gray-3;
  align-self: flex-end;
}
// // footer
