// header
.header {
  width: 100%;
  position: relative;
  &__inner {
    @include util__size-pc-max;
    margin: 0 auto;
  }
  &__top {
    @include util__flex(space-between, center);
    padding: 0 2.4rem;
    margin-top: 2.4rem;
    margin-bottom: 1.4rem;
    position: relative;
    height: 9.6rem;
  }

  .logo {
    order: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.logo {
  a {
    width: 10rem;
  }
  img {
    width: 100%;
  }
}

.menu {
  &-btn {
    order: 0;
  }
}

.action-menu {
  @include util__flex(flex-start, center, 2.4rem);
  order: 2;
}

.cate {
  &__list {
    @include util__flex(center, flex-start, 4rem);
  }
  &__item {
    a {
      @include util__flex(center, center, 0, column);
      min-width: 7rem;
    }
    & > a {
      position: relative;
      z-index: 10;
    }

    $color-list: (
      $color__orange,
      $color__yellow,
      $color__pink,
      $color__skyblue,
      $color__green,
      $color__purple,
      $color__blue
    );

    &:first-child {
      .cate__name {
        @include util__tag-border($color__orange, $color__black);
      }
    }
    &:nth-child(2) {
      .cate__sub-list {
        flex-direction: column;
        justify-content: flex-start;
      }
      .cate__sub-item {
        margin-left: 42.3rem;
        max-width: 12rem;
        &:first-child {
          text-transform: uppercase;
        }
      }
    }
    &:nth-child(6) {
      color: nth($color-list, 6);
    }
    &:nth-child(7) {
      color: nth($color-list, 7);
    }

    @for $i from 1 through 7 {
      &:nth-child(#{$i}):hover .cate__name {
        @include util__tag-border(nth($color-list, $i), $color__black);
        animation: animation__shake 0.5s infinite both;

        @if $i >= 6 {
          color: $color__white;
        }
      }
      &:nth-child(#{$i}) .cate__sub-item a:hover .cate__sub-name {
        @include util__tag-border(nth($color-list, $i), $color__black);
      }

      &:nth-child(#{$i}) .cate__third-item a:hover .cate__third-name {
        @include util__tag-border(nth($color-list, $i), $color__black);
      }
    }

    &:hover {
      .cate__sub {
        display: flex;
      }
    }
  }
  &__icon {
    display: inline-block;
    width: 5.4rem;
    height: 7.2rem;

    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
    }
  }
  &__name {
    padding: 0.4rem 0.8rem;
    font-weight: 700;
    font-family: $font__favorit;
    display: inline-block;
  }
  &__sub {
    @include util__flex(center);
    display: none;
    width: 100%;
    position: absolute;
    min-height: 31.2rem;
    padding-top: 2.4rem;
    left: 0;
    z-index: 5;
    background: $color__white-2;

    &-list {
      @include util__size-pc-max;
      margin: 0 auto;
      @include util__flex(center, flex-start);
    }
    &-item {
      font-weight: 600;
    }
    &-name {
      display: inline-block;
      padding: 0.4rem 0.8rem;
    }
  }
  &__third {
    &-item {
      margin-top: 0.6rem;
    }
    &-name {
      display: inline-block;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 120%;
      padding: 0.4rem 0.8rem;
    }
  }
}
// // header

// section
.section {
  @include util__size-pc-max;
  margin: 0 auto;
}
// // section

// main slide
.main-slider {
  @include util__size-pc-max;
  padding: 0 0.8rem;
  margin: 0 auto;
  .swiper {
    width: 100%;
    border-radius: 3.2rem;

    &-pagination-progressbar {
      top: unset;
      bottom: 4.8rem;
      position: relative;
      width: 32rem;
      height: 0.4rem;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 1rem;
      z-index: 10;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;

      &-fill {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $color__white;
        transform-origin: left;
        border-radius: 0;
      }
    }
  }
  &__img {
    width: 100%;
  }

  &__title {
    // @extend .blind;
    color: $color__white;
    font-family: $font__favorit;
    left: 4rem;
    bottom: 13rem;
    font-size: 10.4rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 90%;
    position: absolute;
    white-space: pre-wrap;
  }
  &__desc {
    //@extend .blind;
    font-family: $font__suite;
    left: 4rem;
    bottom: 6rem;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: -0.04rem;
    color: $color__white;
    position: absolute;
  }
}
// // main slide

// edition
.edition {
  margin-top: 8.4rem;
  &__title {
    color: $color__black;
    font-family: $font__suite;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.032rem;
  }

  &__visual {
    &-text {
      position: relative;
      &-svg {
        height: 27.3rem;
        padding: 1.4rem 2.2rem;

        &[data-svg='2'] {
          height: 26.4rem;
        }
      }

      svg {
        width: auto;
      }
    }
    &-star {
      animation: animation__star-rotate 1s infinite steps(2) both;
    }
  }
  &__shop {
    @include util__flex(flex-start, flex-start, 2.4rem);
    margin-top: 9.6rem;

    &-list {
      .swiper {
        width: 79rem;
        margin-left: 0;
      }
    }
  }

  &__subject {
    width: 57rem;
    height: 75.9rem;
    border-radius: 100rem;
    background: url(~/public/images/edition/bg01.jpg);
    background-position: center;
    background-size: contain;
    position: relative;
    flex-shrink: 0;
    a {
      width: 100%;
      height: 100%;
    }

    &-title {
      font-family: $font__favorit;
      font-size: 4.8rem;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      color: $color__white;
      &-box {
        position: absolute;
        top: 52.3rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &-desc {
      font-family: $font__suite;
      color: $color__white;
      font-size: 1.8rem;
      text-align: center;
      line-height: 130%;
      letter-spacing: -0.036rem;
      font-weight: 600;
      margin-top: 1.2rem;
    }
  }
  &__navigation {
    @extend .btn-navigation-wrap;
    margin-top: 2rem;
    margin-bottom: 1.6rem;
  }
  &__ticker {
    background: $color__orange;
    width: 40.5rem;
    height: 3.6rem;
    border-radius: 2.4rem;
    line-height: 4.8rem;
    margin-top: -6.4rem;
    margin-bottom: 2.8rem;
    overflow: hidden;

    .ticker__handler {
      animation: animation__ticker 3s linear infinite both;
    }
  }
}

.tag {
  @include util__flex(flex-start, center, 0.3rem);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10rem;
  padding: 0 1.1rem;
  height: 3rem;

  &[data-tag='1'] {
    top: 15%;
    background: $color__pastel-skyblue;
  }
  &[data-tag='2'] {
    top: 42%;
    left: 20%;
    background: $color__orange;
  }
  &[data-tag='3'] {
    top: 60%;
    left: 40%;
    background: $color__yellow;
  }

  &__desc {
    font-family: $font__suite;
    font-size: 1.35rem;
    color: $color__black;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.027rem;
  }
}
// // edition

// best
.best {
  .cell {
    @include util__flex(stretch, stretch);
  }
  .item {
    width: 35.7rem;
    &__thumb-container {
      height: 47.6rem;
    }
    &__brand {
      font-size: 1.4rem;
      font-weight: 600;
    }
    &__title {
      font-size: 1.8rem;
      line-height: 120%;
      font-weight: 600;
    }

    &__other {
      &-rate {
        width: 9.6rem;
        font-size: 1.4rem;
        line-height: 120%;
        letter-spacing: -0.028rem;
        .icon {
          width: 1.4rem;
          height: 1.4rem;
        }
      }
      &-info {
        @include util__flex(stretch, center, 1.2rem);
        margin: 0.8rem 0;
      }
    }
  }
  &__title {
    &-container {
      padding: 0 3.2rem;
      width: 35rem;
      flex-shrink: 0;
    }
  }
  &__category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7.2rem 0.3rem;
  }
}
// // best

// event
.event {
  position: relative;
  margin-top: 12.4rem;
  &__banner {
    height: 81rem;
    border-radius: 3.6rem;
    overflow: hidden;
    top: 0;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        position: sticky;
        top: calc(10.2rem + #{$i - 1} * 20%);
      }
    }
    &:last-child {
      position: relative;
      z-index: 2;
      background-color: $color__white;
      background-image: url(~/public/images/event/event.gif);
    }

    a {
      width: 100%;
      height: 100%;
      position: relative;
    }
    &-bg {
      width: 100%;
      object-position: center;
      object-fit: cover;
    }
    &-title {
      font-family: $font__suite;
      font-size: 4.8rem;
      color: $color__white;
      line-height: 7.7rem;
      letter-spacing: -0.03em;
      position: absolute;
      top: 1.3rem;
      left: 50%;
      font-weight: 800;
      transform: translateX(-50%);
    }
  }

  .title__container {
    position: absolute;
    top: 18rem;
    left: 3.2rem;
  }
}
// // event

// sale
.sale {
  padding: 0 3.2rem;
  @extend .best;
  &__navigation {
    @extend .btn-navigation-wrap;
    margin: 2rem 0 3.2rem 0;
  }
  .item {
    width: 34.1rem;

    &__thumb-container {
      height: 45.6rem;
    }
  }
}
// // sale

// new arrival
.new {
  @extend .best;
  padding: 0 3.2rem;
  margin-top: 18rem;
  margin-bottom: 18rem;

  .item {
    @include util__flex(center, center);
    position: relative;
    width: auto;
    height: 100%;
    &__thumb-container {
      width: 60.8rem;
      background: transparent;
      height: 100%;
    }
    &__text-container {
      position: absolute;
      top: 16%;
      left: -20%;
      width: 36rem;
      padding: 2rem 1.6rem 2rem 1.6rem;
      border-radius: 0.8rem;
      box-shadow: 0 0.6rem 1.6rem 0rem #00000014;
      background-color: $color__white;
      cursor: default;
      opacity: 0;
      transition: opacity ease 0.5s;
    }
  }
  .swiper {
    &-slide-active {
      .item__text-container {
        opacity: 1;
      }
    }
  }
  &__shop {
    height: 80rem;
    margin-top: 3.2rem;
    background: url(~/public/images/new/bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: url(~/public/images/new/cursor.png), auto;
  }
}
// // new arrival

// pick
.pick {
  @extend .sale;

  &__navigation {
    @extend .sale__navigation;
  }
}
// // pick

// bottom visual
.bottom-visual {
  position: relative;
  height: 70vh;
  margin-top: 20rem;
  margin-bottom: -10rem;
  &__shape {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 32.7rem;
    height: 32rem;
    background: url(~/public/images/bottom-visual/bottom-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &__text {
    @include util__flex(center, center);
    position: absolute;
    bottom: calc(10% + 27.5vh);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100rem;
    font-family: $font__favorit;
    font-size: 6.6rem;
    letter-spacing: -0.198rem;
    width: 77.2rem;
    height: 11.5rem;
    font-weight: 400;
    z-index: 1;
    background: $color__black-2;
    color: $color__white;
  }
}
// // bottom visual

// footer
.footer {
  min-width: $size__pc-min;
  background: $color__black-2;
  color: $color__white;
  border-radius: 3.2rem 3.2rem 0 0;

  @mixin footer-info-text {
    color: $color__gray-3;
    font-size: 1.4rem;
    letter-spacing: -0.028rem;
  }

  &__inner {
    padding: 2.4rem 3.2rem;
  }
  &__row {
    @include util__flex(space-between, flex-start);
  }
  &__link {
    @include util__flex(flex-start, center, 0.4rem);

    &-item {
      @extend .btn--16;
      border: 1px solid $color__gray-3;
    }
  }
  &__menu {
    @include util__flex(stretch, center);
    flex-grow: 1;
    &-list {
      @include util__flex(flex-start, flex-start, 0.8rem);
    }
  }
  &__cell {
    &:nth-child(1) {
      @include util__flex;
      flex-direction: column;
      font-size: 1.4rem;
      height: 9.4rem;
    }
    &:nth-child(2) {
      text-align: right;
    }
  }
  &__tel {
    font-size: 4.6rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.092rem;
    font-family: $font__favorit;
  }
  &__cs {
    @include footer-info-text();
    line-height: 140%;
  }

  &__company {
    padding-bottom: 0.4rem;
  }

  &__info {
    @include footer-info-text();

    &-row {
      @include util__flex(stretch, center, 0.8rem);

      dl {
        @include util__flex(stretch, center, 0.3ch);
      }
    }
    &-btn {
      @extend .btn--14;
      border: 1px solid $color__gray-3;
    }
  }

  &__copy {
    display: inline-flex;
    gap: 0.4rem;
    font-size: 1em;
    padding-bottom: 0;
    font-family: $font__favorit;
    padding: 0.8rem 0;
  }
}

.top-btn {
  @extend .icon, .top;
  padding: 0.8rem;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 100%;
  border: 1px solid $color__gray-3;
  align-self: flex-end;
}
// // footer
