@font-face {
  font-family: 'SUITE';
  font-style: normal;
  font-weight: 400;
  src: url('~/public/fonts/SUITE-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'SUITE';
  font-style: normal;
  font-weight: 500;
  src: url('~/public/fonts/SUITE-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'SUITE';
  font-style: normal;
  font-weight: 600;
  src: url('~/public/fonts/SUITE-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'SUITE';
  font-style: normal;
  font-weight: 700;
  src: url('~/public/fonts/SUITE-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Favorit';
  font-style: normal;
  font-weight: 400;
  src: url('~/public/fonts/ABCFavorit-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Favorit';
  font-style: normal;
  font-weight: 600;
  src: url('~/public/fonts/ABCFavorit-Bold.woff') format('woff');
}
