@font-face {
  font-family: 'Selecta';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/Selecta-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Selecta';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Selecta-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Selecta';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Selecta-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Rhymes';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/RhymesDisplay-UltraLight.woff2') format('woff2');
}
@font-face {
  font-family: 'Rhymes';
  font-style: normal;
  font-weight: 100;
  src: url('../assets/fonts/RhymesDisplay-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/NotoSansKR-Regular.woff2') format('woff2');
}
