.blind {
  font-size: 0;
  position: absolute;
  display: block;
  z-index: -9999;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.icon {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;

  &.menu-bar {
    background-image: url(~/public/icon/menu-bar_30.svg);
  }
  &.search {
    background-image: url(~/public/icon/search_30.svg);
  }
  &.delivery {
    background-image: url(~/public/icon/delivery_30.svg);
  }
  &.cart {
    background-image: url(~/public/icon/cart_30.svg);
  }
  &.login {
    background-image: url(~/public/icon/login_30.svg);
  }
  &.top {
    background-image: url(~/public/icon/top_24.svg);
    background-size: 2.4rem;
  }
  &.copy {
    background-image: url(~/public/icon/copy_13.svg);
    width: 1.3rem;
    height: 1.7rem;
  }
}

.btn {
  border-radius: 10rem;
  &--16 {
    @extend .btn;
    padding: 1rem 1.6rem;
  }
  &--14 {
    @extend .btn;
    padding: 0.8rem 1.2rem;
  }
}
