$size__section-inner: 0 10rem;

$size__pc-xl: 1920px;
$size__mb-lg: 720px;

$size__pc-min: 1440px;
$size__padding: 4rem;

$color__white: #fff;
$color__white-2: #f8f7f1;
$color__black: #000;
$color__black-2: #1c1c1b;
$color__orange: #f74927;
$color__coral: #fc8d78;
$color__pink: #ffacd4;
$color__pastel-pink: #ffcae4;
$color__lemon: #fdea9e;
$color__yellow: #fed945;
$color__emerald: #bef3c3;
$color__green: #50d75d;
$color__lime: #4cf30a;
$color__pastel-skyblue: #bde5fc;
$color__skyblue: #74ccff;
$color__paleblue: #aecbf6;
$color__blue: #0d64e7;
$color__lightpurple: #d5afff;
$color__purple: #953afb;
$color__gray-1: #999;
$color__gray-2: #888;
$color__gray-3: #bbb;
$color__gray-4: #ddd;
$color__transparent-1: rgba(0, 0, 0, 0.1);
$color__transparent-2: rgba(0, 0, 0, 0.05);

$font-favorit: 'Favorit', sans-serif;
$font-suite: 'SUITE', sans-serif;
